# Core solara deps
solara
solara[assets]
solara-server[starlette]
pytest-ipywidgets

# App dependencies
pandas
matplotlib
folium
requests
urllib3
tqdm
numpy
pystac-client
gcsfs
geopandas
rioxarray
leafmap
mapclassify
